.calendar_container {
    height: 28.5rem;
}

@media (max-width: 400px), (max-height: 550px) {
    .calendar_container {
        height: 21.5rem;
    }
}

.btn__navigation {
    color: #a9a9a9 !important;
}

.btn__navigation:focus {
    box-shadow: none !important;
}

.btn__navigation:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px #d0b7e4 !important;
}

.input__date:focus, .input__form:focus-visible {
    outline: none;
    border-color: #a980ca !important;
    box-shadow: 0 0 0 4px #d0b7e4 !important;
}

.input__form:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #f5eefa !important;
    -webkit-box-shadow: inset 0 0 0 1000px #f5eefa !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input__form:-webkit-autofill:focus, .input__form:-webkit-autofill:focus-visible {
    box-shadow: inset 0 0 0 1000px #f5eefa, 0 0 0 4px #d0b7e4 !important;
    -webkit-box-shadow: inset 0 0 0 1000px #f5eefa, 0 0 0 4px #d0b7e4 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.input__form:disabled {
    background-color: white !important;
    border-color: white !important;
    opacity: 0.8 !important;
    box-shadow: inset 0 0 0 1000px #ffffff !important;
}

:global(.react-datepicker__day-names) {
    display: flex;
    justify-content: space-between;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

:global(.react-datepicker__week) {
    display: flex;
    justify-content: space-between;
}

:global(.react-datepicker__header) {
    background-color: #f7f7f7 !important;
    border-color: #d8d8d8 !important;
}

:global(.react-datepicker__day:focus-visible) {
    outline: none;
    box-shadow: 0 0 0 2px #d0b7e4 !important;
}

:global(.react-datepicker__day:hover) {
    background-color: #f7f7f7 !important;
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--keyboard-selected) {
    color: black;
    background-color: white;
}

:global(.react-datepicker__day--today) {
    color: #d761ec !important;
    font-weight: normal !important;
}

:global(.react-datepicker__day--highlighted-custom-1) {
    box-shadow: 0 0 0 2px #cc52e2 !important;
}